<%= link_to gravatar_for(current_user, size:70), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my deetz", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "donut") %>
</span>